In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("example.db")
connection

In [3]:
cursor = connection.cursor()

In [4]:
#create a table

cursor.execute('''
    Create table if not exists employees(
               id integer primary key,
               name text not null,
               age integer,
               department text
               )
''')

#commit the changes

connection.commit()

In [5]:
#insert data in to the table

cursor.execute('''
    insert into employees(name,age,department)
               values('anuj',20,'software engineer')
''')


cursor.execute('''
    insert into employees(name,age,department)
               values('rudy',21,'data analyst')
''')


cursor.execute('''
    insert into employees(name,age,department)
               values('Smit',20,'Data Scientist')
''')


connection.commit()

In [6]:
#query data from table

cursor.execute('Select * from employees')
rows = cursor.fetchall()

#printing the query
for row in rows:
    print(row)

(1, 'anuj', 21, 'software engineer')
(2, 'rudy', 21, 'data analyst')
(3, 'Smit', 20, 'Data Scientist')
(4, 'anuj', 20, 'software engineer')
(5, 'rudy', 21, 'data analyst')
(6, 'Smit', 20, 'Data Scientist')

In [7]:
#update the data

cursor.execute('''
update employees
set age = 21
where name = 'anuj'
''')

connection.commit()

In [8]:
#delete the data from the table

cursor.execute('''
delete from employees
where name = 'rudy'
''')